

body {
    background-color: #1a1a1a;
    color: #fff;
  }

  .container {
    background-color: #1a1a1a;
    color: #fff;
  }

  .form-control {
    background-color: #383838;
    color: #fff;
  }
